In [1]:
#Panda library for Data Manupuletion

In [2]:
import pandas as pd

In [3]:
s1=pd.Series([1,2,3,4,5])

In [4]:
s1

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [5]:
type(s1)

pandas.core.series.Series

In [ ]:
# changing index values from list(linked list)

In [8]:
s1 = pd.Series([1,2,3,4,5,6],index=['d','i','p','i','k','a'])

In [9]:
s1

d    1
i    2
p    3
i    4
k    5
a    6
dtype: int64

In [ ]:
# series object from Dictionary

In [10]:
pd.Series({'a1':20,'a2':40,'a3':60, 'a4':80})

a1    20
a2    40
a3    60
a4    80
dtype: int64

In [ ]:
# changing index values in dictionary

In [11]:
s5 = pd.Series({'a1':20,'a2':40,'a3':60, 'a4':80}, index= ['a2','a1','a4','a5','a3'])

In [12]:
s5

a2    40.0
a1    20.0
a4    80.0
a5     NaN
a3    60.0
dtype: float64

In [13]:
# Extracting individual elements

In [14]:
#Extracting a single element

s1 = pd.Series([1,2,3,4,5,6,7,8,9])

In [15]:
s1[3]

4

In [16]:
# Extracting a sequence of elements

s1 = pd.Series([1,2,3,4,5,6,7,8,9])

In [17]:
s1

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64

In [18]:
s1[:4]

0    1
1    2
2    3
3    4
dtype: int64

In [19]:
s1[-3:]

6    7
7    8
8    9
dtype: int64

In [20]:
# Basic math operations on Series

In [21]:
l1=[10,20,30,40,50]

In [22]:
s1=pd.Series(l1)

In [23]:
s1

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [ ]:
# Adding a scalar value to series Elements

In [24]:
s1 + 5

0    15
1    25
2    35
3    45
4    55
dtype: int64

In [ ]:
# adding two series objects

In [28]:
s2 = pd.Series([1,2,3,4,5,8,6,4])

In [29]:
s3 = pd.Series([6,7,8,9,0,1,2,3])

In [30]:
s2+s3

0     7
1     9
2    11
3    13
4     5
5     9
6     8
7     7
dtype: int64

In [31]:
s2+s3+10

0    17
1    19
2    21
3    23
4    15
5    19
6    18
7    17
dtype: int64

In [32]:
s2*2

0     2
1     4
2     6
3     8
4    10
5    16
6    12
7     8
dtype: int64

In [33]:
s3/2

0    3.0
1    3.5
2    4.0
3    4.5
4    0.0
5    0.5
6    1.0
7    1.5
dtype: float64

In [34]:
s3-s2

0    5
1    5
2    5
3    5
4   -5
5   -7
6   -4
7   -1
dtype: int64

In [ ]:
#panda's data structure second
# Data frame (multi dimentionl)

In [2]:
# creating data frame using Dictionary

import pandas as pd
pd.DataFrame({"Name":['Anne','Sam','Bob'], "Marks": [76,86,96]})

   Name  Marks
0  Anne     76
1   Sam     86
2   Bob     96